<footer class="bg-black text-white p-4 flex justify-between items-center">
    <h1 class="text-xl font-bold ml-40">
        エラーを勉強したい人は→→
    </h1>
    <a href="https://player.vimeo.com/video/1023805063?badge=0&autopause=0&player_id=0&app_id=58479" class="mr-40 px-4 py-2 bg-blue-500 text-white rounded">
        ページに移動する
    </a>
</footer>